ConsumeServices/HM_WindowsForms/Connected Services/HMSrvService/HMService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.250.52:8081/HMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HM_Entities" />
  <xs:element name="ValidaConexionSQL">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaConexionSQLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaConexionSQLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Rif" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCustomerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rif" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HM_Entities" minOccurs="0" name="ListarCustomerResult" nillable="true" type="q1:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rif" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCustomerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCustomerByRif">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rif" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCustomerByRifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HM_Entities" minOccurs="0" name="ValidarCustomerByRifResult" nillable="true" type="q2:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HM_Entities" minOccurs="0" name="ListarItemResult" nillable="true" type="q3:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarItemByCod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarItemByCodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HM_Entities" minOccurs="0" name="ValidarItemByCodResult" nillable="true" type="q4:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HM_Entities" minOccurs="0" name="objVentas" nillable="true" type="q5:Sales" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HM_Entities" minOccurs="0" name="ListaItem" nillable="true" type="q6:ArrayOfSalesDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSaleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HM_Entities" minOccurs="0" name="ListarSalesResult" nillable="true" type="q7:ArrayOfSales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumarLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HM_Entities" minOccurs="0" name="N" nillable="true" type="q8:ArrayOfNumeros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumarListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumarListaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>